@inherits LayoutComponentBase

<!-- MainLayout.razor -->
<div>
    <header>
        <!-- Navigation bar -->
        <NavMenu />
    </header>

    <div class="content">
        <!-- Current page content -->
        @Body
    </div>

    <footer class="bg-dark text-white fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center font-weight-bold">Developed by alek1l99 for ST Genetics Animal Management Web App</h3>
                </div>
            </div>
        </div>
    </footer>

</div>
