/* /Shared/MainLayout.razor.rz.scp.css */
footer[b-h45jtfxrbw] {
    background-color: #343940;
    padding: 20px 0;
    margin-top: 20px;
}

h3[b-h45jtfxrbw] {
    font-family: Arial, sans-serif;
    font-size: 18px;
}
/* /Shared/NavMenu.razor.rz.scp.css */
